# RewriteEngine On

# force root to portal
# RewriteRule ^$ /portal/ [R=302,L]

# If file or directory exists, serve it
# RewriteCond %{REQUEST_FILENAME} -f [OR]
# RewriteCond %{REQUEST_FILENAME} -d
# RewriteRule ^ - [L]

# Otherwise send to React
# RewriteRule . index.html [L]

RewriteEngine On

# Redirect bare root to /portal/
RedirectMatch ^/$ /portal/

# Redirect /login to /portal/login
RedirectMatch ^/login$ /portal/login

# Redirect anything not starting with /portal or /rest to /portal/
RewriteCond %{REQUEST_URI} !^/portal
RewriteCond %{REQUEST_URI} !^/rest
RewriteCond %{REQUEST_URI} !^/favicon
RewriteRule ^(.*)$ /portal/$1 [R=302,L]