RewriteEngine On

# force root to portal
RewriteRule ^$ /portal/ [R=302,L]

# If file or directory exists, serve it
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise send to React
RewriteRule . index.html [L]