RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################
### FOR UPLOAD PHOTO ###
RewriteRule ^upload-multiple-files$ core/upload-multiple-files.php [L]  

### ROLES ###
RewriteRule ^roles$ controllers/developer/settings/role/role.php [L]
RewriteRule ^roles/([0-9]+)$ controllers/developer/settings/role/role.php?id=$1 [L]
RewriteRule ^roles/active/([0-9]+)$ controllers/developer/settings/role/active.php?id=$1 [L] 
RewriteRule ^roles/page/([0-9]+)$ controllers/developer/settings/role/page.php?start=$1 [L]
RewriteRule ^roles/search$ controllers/developer/settings/role/search.php [L]
RewriteRule ^roles/read-in-modal/([0-9]+)$ controllers/developer/settings/role/read-in-modal.php?id=$1 [L] 
RewriteRule ^roles/read-in-modal$ controllers/developer/settings/role/read-in-modal.php [L] 

### User ACCOUNT ###
RewriteRule ^users$ controllers/developer/settings/user/user.php [L]
RewriteRule ^users/([0-9]+)$ controllers/developer/settings/user/user.php?id=$1 [L]
RewriteRule ^users/active/([0-9]+)$ controllers/developer/settings/user/active.php?id=$1 [L] 
RewriteRule ^users/page/([0-9]+)$ controllers/developer/settings/user/page.php?start=$1 [L]
RewriteRule ^users/search$ controllers/developer/settings/user/search.php [L]
RewriteRule ^users/key/([A-Za-z0-9-]+)$ controllers/developer/settings/user/key.php?key=$1 [L]
RewriteRule ^users/password$ controllers/developer/settings/user/set-password.php [L]
RewriteRule ^users/token$ controllers/developer/settings/user/token.php [L]
RewriteRule ^users/login$ controllers/developer/settings/user/login.php [L]
RewriteRule ^users/reset-password/([0-9]+)$ controllers/developer/settings/user/reset-password.php?id=$1 [L] 
RewriteRule ^users/forget-password$ controllers/developer/settings/user/forget-password.php [L] 

### PRODUCT OWNER ###
RewriteRule ^product-owner/([0-9]+)$ controllers/developer/settings/product-owner/product-owner.php?id=$1 [L]
RewriteRule ^product-owner$ controllers/developer/settings/product-owner/product-owner.php [L]
RewriteRule ^product-owner/page/([0-9]+)$ controllers/developer/settings/product-owner/page.php?start=$1 [L]
RewriteRule ^product-owner/active/([0-9]+)$ controllers/developer/settings/product-owner/active.php?id=$1 [L] 
RewriteRule ^product-owner/reset-password/([0-9]+)$ controllers/developer/settings/product-owner/reset-password.php?id=$1 [L] 
RewriteRule ^product-owner/read-by-product-owner$ controllers/developer/settings/product-owner/read-by-product-owner.php [L] 
RewriteRule ^product-owner/read-in-modal/([0-9]+)$ controllers/developer/settings/product-owner/read-in-modal.php?id=$1 [L] 
RewriteRule ^product-owner/read-in-modal$ controllers/developer/settings/product-owner/read-in-modal.php [L] 

### CUSTOMER ###
RewriteRule ^customer$ controllers/developer/customer/customer.php [L]
RewriteRule ^customer/([0-9]+)$ controllers/developer/customer/customer.php?id=$1 [L]
RewriteRule ^customer/active/([0-9]+)$ controllers/developer/customer/active.php?id=$1 [L] 
RewriteRule ^customer/page/([0-9]+)$ controllers/developer/customer/page.php?start=$1 [L]
RewriteRule ^customer/search$ controllers/developer/customer/search.php [L]

### SUPPLIERS ###
RewriteRule ^suppliers$ controllers/developer/suppliers/suppliers.php [L]
RewriteRule ^suppliers/([0-9]+)$ controllers/developer/suppliers/suppliers.php?id=$1 [L]
RewriteRule ^suppliers/active/([0-9]+)$ controllers/developer/suppliers/active.php?id=$1 [L] 
RewriteRule ^suppliers/page/([0-9]+)$ controllers/developer/suppliers/page.php?start=$1 [L]
RewriteRule ^suppliers/search$ controllers/developer/suppliers/search.php [L]
RewriteRule ^suppliers/read-in-modal/([0-9]+)$ controllers/developer/suppliers/read-in-modal.php?id=$1 [L] 
RewriteRule ^suppliers/read-in-modal$ controllers/developer/suppliers/read-in-modal.php [L] 

### SUPPLIERS ###
RewriteRule ^suppliers-product$ controllers/developer/suppliers/product/suppliers-product.php [L]
RewriteRule ^suppliers-product/([0-9]+)$ controllers/developer/suppliers/product/suppliers-product.php?id=$1 [L] 
RewriteRule ^suppliers-product/active/([0-9]+)$ controllers/developer/suppliers/product/active.php?id=$1 [L] 
RewriteRule ^suppliers-product/page/([0-9]+)$ controllers/developer/suppliers/product/page.php?start=$1 [L]
RewriteRule ^suppliers-product/search$ controllers/developer/suppliers/product/search.php [L]
RewriteRule ^suppliers-product/read-in-modal/([0-9]+)$ controllers/developer/suppliers/product/read-in-modal.php?id=$1 [L]
RewriteRule ^suppliers-product/read-in-modal$ controllers/developer/suppliers/product/read-in-modal.php [L]

### PRODUCTS ###
RewriteRule ^products$ controllers/developer/products/products.php [L]
RewriteRule ^products/([0-9]+)$ controllers/developer/products/products.php?id=$1 [L] 
RewriteRule ^products/active/([0-9]+)$ controllers/developer/products/active.php?id=$1 [L] 
RewriteRule ^products/page/([0-9]+)$ controllers/developer/products/page.php?start=$1 [L]
RewriteRule ^products/search$ controllers/developer/products/search.php [L]
RewriteRule ^products/read-all-active-by-product$ controllers/developer/products/read-all-active-by-product.php [L]

### ACTIVITY LOG ###
RewriteRule ^activity/read-with-limit$ controllers/developer/activity-log/read-with-limit.php [L] 

### PURCHASE ORDER ###
RewriteRule ^purchase-order$ controllers/developer/suppliers/purchase-order/purchase-order.php [L]
RewriteRule ^purchase-order/([0-9]+)$ controllers/developer/suppliers/purchase-order/purchase-order.php?id=$1 [L] 
RewriteRule ^purchase-order/active/([0-9]+)$ controllers/developer/suppliers/purchase-order/active.php?id=$1 [L] 
RewriteRule ^purchase-order/page/([0-9]+)$ controllers/developer/suppliers/purchase-order/page.php?start=$1 [L]
RewriteRule ^purchase-order/search$ controllers/developer/suppliers/purchase-order/search.php [L]

### STOCK MOVEMENT ### 
RewriteRule ^stock-movement$ controllers/developer/inventory/stock-movement/stock-movement.php [L]
RewriteRule ^stock-movement/([0-9]+)$ controllers/developer/inventory/stock-movement/stock-movement.php?id=$1 [L] 
RewriteRule ^stock-movement/active/([0-9]+)$ controllers/developer/inventory/stock-movement/active.php?id=$1 [L] 
RewriteRule ^stock-movement/page/([0-9]+)$ controllers/developer/inventory/stock-movement/page.php?start=$1 [L]
RewriteRule ^stock-movement/search$ controllers/developer/inventory/stock-movement/search.php [L]

### STOCK OVERVIEW ### 
RewriteRule ^stock-overview/page/([0-9]+)$ controllers/developer/inventory/stock-overview/page.php?start=$1 [L]

### SALES ORDER ### 
RewriteRule ^sales-order$ controllers/developer/sales-order/sales-order.php [L]
RewriteRule ^sales-order/([0-9]+)$ controllers/developer/sales-order/sales-order.php?id=$1 [L] 
RewriteRule ^sales-order/active/([0-9]+)$ controllers/developer/sales-order/active.php?id=$1 [L] 
RewriteRule ^sales-order/page/([0-9]+)$ controllers/developer/sales-order/page.php?start=$1 [L]
RewriteRule ^sales-order/search$ controllers/developer/sales-order/search.php [L]
RewriteRule ^sales-order/read-all-active-by-product$ controllers/developer/sales-order/read-all-active-by-product.php [L]
 
